.car-number {
    width: 230px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;

    &__icon {
        font-size: 2rem;
    }

    &__content {
        font-size: 2rem;
    }
}