.header {
    background-color: #E20074;
    width: 100%;
    height: 50px;
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 14px;

    &-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        .icon {
            font-size: 1.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            text-decoration: none;
        }
    }
}

.logo {
    font-size: 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}