.reserve-button {
    display: block;
    width: 60%;
    height: 60px;
    margin: 20px auto 0;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: #E20074;
    color: #fff;
    position: relative;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    z-index: 3;
}