.your-section {
    width: 150px;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 20px;
    border: 1px dashed black;
    border-radius: 10px;

    &:last-child {
        margin-top: 20px;
    }

    span {
        display: block;
        margin: 0 auto;
    }
}